.Rproj.user
^.*\.Rproj$
^\.Rproj\.user$
.Rhistory
.RData
.Rbuildignore
^HeatTransferCalculations.Rmd
^heatcalc.pdf
^healcalc.R
^Command_Line_Convert_FLIR_to_ImageJ.Rmd
^README2.Rmd$
^README2.md$
^REARME2_files
/ThermimageSticker
